.rules {
    background-image: url('../../assets/rules-bg-2.png');
    background-color: #F5FFFC;
    background-size: 100% 100%;
    position: relative;
    
    &__container {
        position: relative;
        z-index: 2;
    }
    
    &__text {
        margin-bottom: 4rem;
        
       
    }
   &__pay {
    text-align: center;
   }
}