.btn {
    appearance: none;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    padding: 8px 30px;
    font-size: 18px;
    line-height: 1.6;
    text-transform: uppercase;
    font: inherit;
    cursor: pointer;
    transition: 
        box-shadow .25s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        opacity .25s ease
        ;
}
.btn:hover {
    box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
    opacity: .8;

}

.nav-link {
    transition: opacity .25s ease;
}
.nav-link:hover {
    opacity: .8;
}