footer {
    background-image: url('../assets/MiscelaStudio_Footer.jpg');
    background-size: 100% 100%;    
    padding: var(--y-padding-lg) var(--x-padding-lg);
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: var(--color-white);
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 80%;
    justify-content: space-between;
}
.font-list h4 {
    font-weight: 700;
}
footer .social-links svg {
    width: 31px;
    height: 31px;
    fill: none;
    stroke: var(--color-white);
    stroke: 1;
}

.footer-item {
    display: flex;
    flex-direction: column;
}