header {
    width: 100%;
    min-height: 800px;
    height: 100vh;
    padding: var(--y-padding-lg) var(--x-padding-lg);
    background-image: url('../assets/Sfondo_IntroHomepage.jpg');
    background-size: 100% 100%;
    position: relative;
}
header .logo {
    background-color: var(--color-white);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo span {
    display: inline-block;
}

.hero {
    background-color: var(--color-white);
    margin-top: 100px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hero span {
    display: inline-block;
    font-size: var(--font-size-25);
}

.scroll {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    cursor: pointer;
}
.scroll svg {
    width: 30px;
    height: 20px;
    top: 90vh;
    left: 50%;
    animation: bounce 2s ease infinite;
    fill: var(--color-white)
}

@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}