@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Oxanium:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import './_header.css';
@import './_main.css';
@import './_footer.css';

:root {
  /* Colors: */
  --color-grey: #707070;
  --color-dark: #000000;
  --color-white: #FFFFFF;
  --color-primary: #E30613;
  --color-secondary: #990066;
  
  /*  */
  --x-padding-lg: 260px;
  --y-padding-lg: 50px;
  --padding-sm: 40px;
  /*  */

  /*  */
  --breakpoint-sm: 390px;




  /* Font/text values */
  --font-family-open-sans: 'Open Sans', sans-serif;;
  --font-family-oxanium: 'Oxanium', cursive;;
  --font-style-normal: normal;
  --font-weight-600: 600px;
  --font-weight-800: 800px;
  --font-weight-normal: normal;
  --font-size-12: 12px;
  --font-size-15: 15px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-25: 25px;
  --font-size-30: 30px;
  --font-size-50: 50px;
  --font-size-75: 75px;
  --character-spacing-0: 0px;
  --line-spacing-17: 17px;
  --line-spacing-20: 20px;
  --line-spacing-22: 22px;
  --line-spacing-27: 27px;
  --line-spacing-30: 30px;
  --line-spacing-37: 37px;
  --line-spacing-50: 50px;
  --line-spacing-75: 75px;
  --text-transform-uppercase: uppercase;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  letter-spacing: 0;
  font-style: normal;
  font-family: var(--font-family-open-sans);
  line-height: 1.35;
  font-size: var(--font-size-15);
}
.logo {
  background-color: var(--color-white);
}
.heading {
  font-family: var(--font-family-oxanium);
  text-transform: uppercase;
  font-size: var(--font-size-75);
  line-height: 1;
  
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit
}
  /* Character Styles */
  
  @media only screen and (max-width: 390px) {
    header,
    main
    {
        padding: var(--padding-sm);
    }

    body {

    }
}